<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="h4 item-col">Shopping Bag ({{cartProducts.length}} items)</th>
                            <th scope="col" class="text-center">price</th>
                            <th scope="col" class="text-center quantity-col">Quantity</th>
                            <th scope="col" class="text-center">total</th>
                            <th scope="col" class="text-center">
                                <button (click)="clearCart()" class="btn btn-secondary">Clear All</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of cartProducts; let index = index">
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="{{product.product.image}}" class="img-fluid" alt="product">
                                    <div class="flex-column ms-4 w-50">
                                        <p class="mb-2">{{product.product.title}}</p>
                                    </div>
                                </div>
                            </th>
                            <td class="align-middle text-center">
                                <p class="mb-0 fw-bold">{{product.product.price}} &dollar;</p>
                            </td>
                            <td class="align-middle">
                                <div class="d-flex flex-row">
                                    <button class="btn btn-dark px-2" (click)="minusAmount(index)">
                                        <i class="bi bi-dash-lg"></i>
                                    </button>

                                    <input min="1" name="quantity" [(ngModel)]="product.quantity" type="number"
                                        (change)="detectChange()" class="form-control mx-1" />

                                    <button class="btn btn-dark px-2" (click)="addAmount(index)">
                                        <i class="bi bi-plus-lg"></i>
                                    </button>
                                </div>
                            </td>
                            <td class="align-middle text-center">
                                <p class="mb-0 fw-bold">
                                    {{(product.product.price * product.quantity).toFixed(2)}} &dollar;
                                </p>
                            </td>
                            <td class="align-middle text-center">
                                <button (click)="deleteProduct(index)"
                                    class="btn btn-outline-danger bi bi-x-lg"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card mb-5 mb-lg-0 border-0">
                <div class="card-body text-end fw-bold fs-4">

                    <hr>

                    <div class="mb-3">
                        <p class="mb-1">Total (tax included)</p>
                        <p class="mb-1">{{total.toFixed(2)}} &dollar;</p>
                    </div>

                    <button [disabled]="cartProducts.length == 0" (click)="addUserCart()" class="btn btn-primary btn-block btn-lg fw-bold">
                        <span>Checkout {{total.toFixed(2)}} &dollar;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-success fs-4" role="alert" *ngIf="success">
        Your order has been confirmed successfully!
    </div>
</div>