nav {
  background: linear-gradient(to right, #d6537d, #335992);
  color: #fff;
}

.title {
  font-family: fantasy;
  font-size: 65px;
}

.navbar-collapse {
  flex-grow: unset;
}

.header {
  padding: 4px 35px;
}

.bi-bag-fill {
  font-size: 40px;
  padding: 0px 20px;
}

.bi-box-fill{
  font-size: 40px;
}

.bi-box-fill:hover,
.bi-bag-fill:hover {
  font-size: 50px;
}

